* {
    padding: 0;
    margin: 0;
}

/*最外面的盒子*/
.android {
    width: 500px;
    height: 500px;
    border: 1px solid rgba(242, 242, 242, 0);
    margin: 100px auto;
    /*动画*/
    animation: animations 1s ease-out 9s forwards;
}

/*盒子添加动画*/
@keyframes animations {
    0% {
        opacity: 1;
        transform: scale(1);
        margin: 50px auto;
    }
    50% {
        opacity: 1;
        transform: scale(0.1);
        margin: 100px auto;
    }
    100% {
        opacity: 0;
        transform: scale(0.1);
        margin: 300px auto;
    }
}

/*头部样式*/
.head {
    width: 200px;
    height: 90px;
    margin-top: 80px;
    margin-left: 150px;
    position: relative;
    background: #a4ca39;
    border-radius: 90px 90px 0 0;
}

/*左眼*/
.eyeLeft {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
    position: absolute;
    top: 30px;
    left: 50px;
    animation: ainimationLeye 0.5s ease-in 5.5s forwards;
}

/*左眼动画*/
@keyframes ainimationLeye {
    0% {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        top: 30px;
        left: 50px;
    }
    100% {
        width: 50px;
        height: 4px;
        left: 25px;
        top: 45px;
        border-radius: 10px;
    }
}

/*右眼*/
.eyeRight {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
    top: 30px;
    right: 50px;
    position: absolute;
    animation: animationReye 0.5s ease-in 5.5s forwards;
}

/*右眼动画*/
@keyframes animationReye {
    0% {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        top: 30px;
        right: 50px;
    }
    100% {
        width: 50px;
        height: 4px;
        right: 25px;
        top: 45px;
        border-radius: 10px;
    }
}

/*左眼*/
.eyedownLeft {
    position: absolute;
    width: 15px;
    height: 10px;
    border-radius: 50%;
    background: rgba(164, 202, 57, 0);
    top: 45px;
    left: 53px;
    animation: animationDLeye 0.5s ease-out 5.5s forwards;
}

/*左眼消失动画*/
@keyframes animationDLeye {
    0% {
        background: rgba(164, 202, 57, 0);
    }
    70% {
        background: rgba(164, 202, 57, 0);
    }
    100% {
        background: #fff7eb;
    }
}

/*右眼*/
.eyedownRight {
    position: absolute;
    width: 15px;
    height: 10px;
    border-radius: 50%;
    background: rgba(164, 202, 57, 0);
    top: 45px;
    right: 53px;
    animation: animationDReye 0.5s ease-out 5.5s forwards;
}

/*右眼逐渐消失*/
@keyframes animationDReye {
    0% {
        background: rgba(164, 202, 57, 0);
    }
    70% {
        background: rgba(164, 202, 57, 0);
    }
    100% {
        background: #fff7eb;
    }
}

/*!*左嘴巴*!
.mouthLeft {
    position: absolute;
    width: 25px;
    height: 4px;
    background: #a4ca39;
    border-radius: 2px 0 0 2px;
    top: 65px;
    left: 70px;
    animation: animationsLMouth 0.5s ease-out 5.5s forwards;
}

!*左嘴消失*!
@keyframes animationsLMouth {
    0% {
        background: #a4ca39;
        transform: rotate(0deg);
        transform-origin: 25px 0;
    }
    20% {
        background: #fff7eb;
        transform: rotate(0deg);
        transform-origin: 25px 0;
    }
    60% {
        background: #fff7eb;
        transform: rotate(0deg);
        transform-origin: 25px 0;
    }
    100% {
        background: #fff7eb;
        transform: rotate(-45deg);
        transform-origin: 25px 0;
    }
}

!*右嘴巴*!
.mouthRight {
    position: absolute;
    width: 25px;
    height: 4px;
    background: #a4ca39;
    border-radius: 0px 2px 2px 0px;
    top: 65px;
    right: 70px;
    animation: animationsRMouth 0.5s ease-out 5.5s forwards;
}

!*右嘴消失*!
@keyframes animationsRMouth {
    0% {
        background: #a4ca39;
        transform: rotate(0deg);
        transform-origin: 0px 0;
    }
    20% {
        background: #fff7eb;
        transform: rotate(0deg);
        transform-origin: 0 0;
    }
    60% {
        background: #fff7eb;
        transform: rotate(0deg);
        transform-origin: 0 0;
    }
    100% {
        background: #fff7eb;
        transform: rotate(45deg);
        transform-origin: 0 0;
    }
}*/

/*左天线*/
.antennaLeft {
    position: absolute;
    width: 7px;
    height: 60px;
    background: #a4ca39;
    top: -40px;
    left: 45px;
    border-radius: 4px;
    transform: rotate(-30deg);
    animation: animationantnnelleft 0.5s ease-out 3.5s forwards;
}

/*天线特效*/
@keyframes animationantnnelleft {
    0% {
        top: -40px;
        left: 45px;
        opacity: 1;
    }
    100% {
        top: 5px;
        left: 70px;
        opacity: 0;
    }
}

/*右天线*/
.antennaRight {
    position: absolute;
    width: 7px;
    height: 60px;
    background: #a4ca39;
    top: -40px;
    right: 45px;
    border-radius: 4px;
    transform: rotate(30deg);
    animation: animationantnnelright 0.5s ease-out 3.5s forwards;
}

/*天线特效*/
@keyframes animationantnnelright {
    0% {
        top: -40px;
        right: 45px;
        opacity: 1;
    }
    100% {
        top: 5px;
        right: 70px;
        opacity: 0;
    }
}

/*身体部分*/
.body {
    position: absolute;
    width: 200px;
    height: 180px;
    border-radius: 0 0 30px 30px;
    background: #a4ca39;
    left: 150px;
    top: 200px;
    animation: animabody 4.5s linear 3s forwards;
}

/*身体消失*/
@keyframes animabody {
    0% {
        height: 180px;
        top: 200px;
        border-radius: 0 0 30px 30px;
    }
    30% {
        height: 180px;
        top: 200px;
        border-radius: 0 0 30px 30px;
    }
    90% {
        height: 180px;
        top: 200px;
        border-radius: 0 0 30px 30px;
    }
    100% {
        height: 180px;
        top: 200px;
        border-radius: 0 0 30px 30px;
    }
}

/*左手*/
.headLeft {
    position: absolute;
    width: 45px;
    height: 150px;
    border-radius: 50px;
    background: #a4ca39;
    top: 20px;
    left: -60px;
    animation: animaheadleft 1s ease-out 4s forwards;
}

/*左手动画*/
@keyframes animaheadleft {
    0% {
        left: -60px;
        transform: rotate(0deg);
    }
    60% {
        left: -60px;
        transform: rotate(90deg);
        transform-origin: 50px 55px;
    }
    80% {
        left: -60px;
        transform: rotate(90deg);
        transform-origin: 50px 55px;
    }
    100% {
        left: 60px;
        transform: rotate(90deg);
        transform-origin: 50px 55px;
    }
}

/*右手*/
.headRight {
    position: absolute;
    width: 45px;
    height: 150px;
    border-radius: 50px;
    background: #a4ca39;
    top: 20px;
    right: -60px;
    animation: animaheadright 1s ease-out 4s forwards;
}

/*右手动画*/
@keyframes animaheadright {
    0% {
        right: -60px;
        transform: rotate(0deg);
    }
    60% {
        right: -60px;
        transform: rotate(-90deg);
        transform-origin: 0px 55px;
    }
    80% {
        right: -60px;
        transform: rotate(-90deg);
        transform-origin: 0px 55px;
    }
    100% {
        right: 60px;
        transform: rotate(-90deg);
        transform-origin: 0px 55px;
    }
}

/*左脚*/
.footLeft {
    position: absolute;
    width: 45px;
    height: 150px;
    border-radius: 50px;
    background: #a4ca39;
    top: 150px;
    left: 35px;
    animation: animafoot 0.5s ease-in 5s forwards;
}

@keyframes animafoot {
    0% {
        background: #a4ca39;
        top: 150px;
    }
    70% {
        background: #a4ca39;
        top: 100px;
    }
    100% {
        background: #a4ca39;
        top: 0px;
    }
}

/*右脚*/
.footRight {
    position: absolute;
    width: 45px;
    height: 150px;
    border-radius: 50px;
    background: #a4ca39;
    top: 150px;
    right: 35px;
    animation: animafoot 0.5s ease-in 5s forwards;
}