* {
    margin: 0px auto;
    padding: 0px;
}

.page {
    margin: 0px auto;
    padding: 0px auto;
}

a {
    font-family: "Microsoft YaHei", SimHei, "微软雅黑";
    text-decoration: none;
    color: #333333;
    font-size: 13px;
}

li {
    list-style: none;
}

.mainnav { /*上面导航外层wrap*/
    height: 32px;
    overflow: hidden;
    border-bottom: 1px solid #D8DFE5;
    background-color: #F5F6F7;
}

.nav { /*导航部分*/
    margin: auto;
    width: 980px;
}

.navleft {
    width: 380px;
    height: 32px;
    float: left;
}

.jifenshop {
    background: white;
    border: white;
}

.navleft li {
    float: left;
    padding: 0px 10px;
    line-height: 30px;
}

.navleft li a:hover {
    text-decoration: underline;
    color: #ff4e00;
}

.navright {
    width: 359px;
    height: 32px;
    line-height: 30px;
    float: right;
}

.navrightemail {
    background: url("../img/zhuanpan/sprite.png");
}

.navrightemail {
    background-position: 122px -278px;
}

.navright li {
    float: left;
}

.navright span {
    margin: 0px 11px;
}

.navright .navrightemail {
    margin: 0px 0px;
!important;
}

.navright li a:hover {
    text-decoration: underline;
    color: #ff4e00;
}

.logo { /*logo部分*/
    position: relative;
    width: 100%;
    height: 55px;
    zoom: 1;
}

.homelink { /*qq彩贝logo  积分商城logo*/
    margin-top: 15px;
    position: relative;
    z-index: 1;
    margin-left: 187px;
}

.homelink a {
    display: inline-block;
    height: 48px;
    float: left;
}

.jifenlink { /*积分兑换 |积分抽奖 |苹果专区 |个人中心 div*/
    width: 350px;
    height: 25px;
    float: right;
    line-height: 25px;
    padding-top: 16px;
    margin-right: 213px;
}

.jifenlink li {
    float: left;
    padding-left: 6px;
}

.shoujiang {
    background: url("../img/zhuanpan/sprite.png") no-repeat;
}

.shoujiang {
    background-position: 0 2px;
}

.shoujiang {
    color: white;
}

.shoujiang:hover {
    color: white;
!important;
}

.jifenapple {
    position: absolute;
    width: 22px;
    height: 12px;
    margin-top: -13px;
    margin-left: -14px;
    background: url("../img/zhuanpan/sprite.png") no-repeat;
    background-position: -97px -14px;
}

.jifenlink li span {
    color: gainsboro;
}

.jifenlink a {
    display: inline-block;
    font-size: 16px;
}

.jifenlink-li:hover {
    color: #ff4e00;
}

.contaner-wrap { /*contaner外层包裹*/
    background: url("../img/zhuanpan/repeat_x.png") repeat-x 0 -49px;
    width: 1349px;
    overflow: hidden;
    position: relative;
    zoom: 1;
    z-index: 1;
}

.contaner {
    width: 980px;
    position: relative;
    margin-top: 18px;
    z-index: 1;
}

.sidebar { /*边导航*/
    float: left;
    width: 230px;
}

.topsidebar { /*边导航上半部分*/
    border: 1px solid #e7e7e7;
    width: 230px;
    /*height: 350px;*/
}

.topsidebar-1 { /*边导航上边部分  积分兑换*/
    display: inline-block;
    width: 228px;
    height: 69px;
    margin-top: -1px;
    position: relative;
    background: url("../img/zhuanpan/repear_x.jpg");
}

.topsidebar-1-1 {
    background: url("../img/zhuanpan/sprite.png");
    position: absolute;
    width: 44px;
    height: 46px;
    background-position: -55px -27px;
    display: inline-block;
}

.topsidebar-1 a {
    display: inline-block;
    position: relative;
    height: 57px;
    padding: 10px 0 0 0;
    font-size: 12px;
!important;
    margin-left: -3px;
}

.topsidebar-1-1 a span {
    margin-left: -50px;
    margin-top: 5px;
}

.topsidebar-1-2 {
    font-size: 20px;
    color: #ff4e00;
    display: inline-block;
    margin-left: 50px;
}

.topsidebar-1-3 {
    color: #888;
    display: inline-block;
    margin-left: 50px;
}

.topsidebar-1-4 {
    width: 11px;
    height: 20px;
    position: absolute;
    background: url("../img/zhuanpan/sprite.png");
    background-position: -85px 0;
    margin-top: -14px;
    margin-left: 25px;
}

.topsidebar-1-4:hover {
    width: 11px;
    height: 20px;
    position: absolute;
    background: url("../img/zhuanpan/sprite.png");
    background-position: -73px 0;
    margin-top: -14px;
    margin-left: 25px;
}

.topsidebar-2 { /*边导航 上半部分 实物礼品区*/
    width: 230px;
    height: 240px;
    background: white;
}

.topsidebar-2-dl {
    border-top: 1px solid #e7e7e7;
    margin-top: -1px;
    padding-top: 10px;
}

.topsidebar-2-dt a {
    display: block;
    color: #f30;
    font-size: 15px;
    padding-left: 28px;
    margin-bottom: 10px;
}

.topsidebar-2-dl dd {
    float: left;
    width: 112px;
    margin-bottom: 8px;
}

.topsidebar-2-dl dd a {
    display: inline-block;
    padding: 0 5px;
    height: 22px;
    line-height: 22px;
    margin-left: 23px;
    overflow: hidden;
    vertical-align: top;
    font-size: 12px;
!important;
}

.topsidebar-2-dl dd a:hover {
    background: #ff4e00;
    color: white;
}

.topsidebar-3 { /*边导航 上半部分 积分抽奖区*/
    display: inline-block;
    width: 228px;
    height: 69px;
    margin-top: -1px;
    position: relative;
    background: url("../img/zhuanpan/repear_x.jpg");
}

.topsidebar-3-1 {
    display: inline-block;
    width: 44px;
    height: 46px;
    position: absolute;
    background: url("../img/zhuanpan/sprite.png");
    background-position: -147px -27px;
    margin-left: -47px;
}

.topsidebar-3 a {
    display: block;
    position: relative;
    height: 57px;
    padding: 10px 25px 0 45px;
    border-width: 1px 0;
    font-size: 12px;
!important;
    margin-left: -3px;

}

.topsidebar-3-1 a span {
    margin-left: -50px;
    margin-top: 5px;
}

.topsidebar-3-2 {
    font-size: 20px;
    display: block;
    color: #ff4e00;
}

.topsidebar-3-3 {
    color: #888;
}

.topsidebar-3-4 {
    width: 11px;
    height: 20px;
    position: absolute;
    background: url("../img/zhuanpan/sprite.png");
    background-position: -85px 0;
    margin-top: -14px;
    margin-left: 65px;
}

.topsidebar-3-4:hover {
    width: 11px;
    height: 20px;
    position: absolute;
    background: url("../img/zhuanpan/sprite.png");
    background-position: -73px 0;
    margin-top: -14px;
    margin-left: 65px;
}

.bottomsidebar {
    width: 236px;
}

.bottomsidebar-1 h3 {
    font: normal 16px/40px "Microsoft YaHei", "黑体";
    color: #333;
}

.bottomsidebar-2 { /*边导航 下半部分 特色专区 列表内容*/
    display: block;
}

.bottomsidebar-2 a {
    display: inline-block;
    width: 113px;
    height: 38px;
    /*white-space: nowrap;*/
    text-align: center;
    line-height: 38px;
    border: 1px solid #e2e2e2;
    margin: -1px -8px 0 -1px;
    cursor: pointer;
}

.bottomsidebar-2 a span {
    display: inline-block;
}

.bottomsidebar-2 a span:hover {
    color: #ff4e00;
}

.ico-hot {
    background: url("../img/zhuanpan/sprite.png") no-repeat;
    width: 22px;
    height: 12px;
    background-position: -98px 0;
    vertical-align: middle;
    margin-left: 5px;
}

.contaner-main { /*contaner转盘、开奖时间、中奖名单公布部分外层包裹*/
    position: relative;
    margin-left: 240px;
    min-height: 1px;
}

.lottery-cont { /*contaner转盘、开奖时间、中奖名单公布部分*/
    position: relative;
    width: 725px;
    height: 640px;
    background: url("../img/zhuanpan/lottery_bg.jpg") no-repeat;
    z-index: 200;
    /*background: yellow;*/
    float: left;
}

.luckywheel {
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    position: absolute;
    /*border: 1px solid black;*/
    /*background: url("../img/zhuanpan/zp.png") no-repeat;*/
    top: 215px;
    left: 43px;
    width: 381px;
    height: 381px;
    z-index: 200;

}

#luckywheel1 {
    animation-name: myani;
    animation-duration: 20s;
    animation-timing-function: linear;
    transform-origin: 50% 50%;
}

@keyframes myani {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(1800deg);
    }
}

/*.innerborder{*/
/*width: 126px;*/
/*height: 126px;*/
/*border-radius: 50%;*/
/*border: 10px solid #ffc000;*/
/*margin-top: 121px;*/
/*margin-left: 136px;*/
/*background: #ffc000;*/
/*}*/
#pointimg {
    cursor: pointer;
    position: absolute;
    top: 211px;
    left: 34px;
    /*border: 1px solid;*/
    z-index: 200;
}

.wheelgift {
    margin-top: 190px;

}

.gift {
    width: 208px;
    /*height: 183px;*/
    padding-top: 100px;
}

.lucky { /*中奖奖品及信息部分，本期中奖 下期中奖*/
    position: absolute;
    width: 485px;
    height: 365px;
    top: 214px;
    left: 203px;
    right: 0;
    background: #fff;
    border: 1px solid #C7C7C7;
    /*z-index: -101;*/
    /*background: papayawhip;*/
    float: right;
}

.lucky .luckyul-1 {
    position: absolute;
    top: -27px;
    right: -1px;
}

.lucky .luckyul-1 li {
    background: url("../img/zhuanpan/lottery_sprite.png");
}

.lucky .luckyul-1 .on {
    background-position: -95px -48px;
}

.lucky .luckyul-1 .next {
    background-position: -257px -49px;
}

.lucky .luckyul-1 li {
    display: inline-block;
    float: left;
    width: 94px;
    height: 26px;
    margin-right: -1px;
    z-index: 103;
}

.luckyul-1 li a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
}

.lucky .luckyul-1 .ongift {
    color: white;
}

.lucky .luckyul-1 .nextgift {
    /*color: black;*/
}

.prize {
    float: right;
    width: 264px;
    height: 144px;
    margin: 7px 14px 8px 0;
    /*background: palegreen;*/

}

.prize img { /*奖品ipad*/
    float: left;
}

.info-text {
    display: block;
    float: left;
    width: 134px;
    height: 144px;
    color: #2E322F;
    font-family: "Microsoft YaHei", Simsun, Mingliu, Arial, Helvetica;
}

.info-text .name {
    display: block;
    padding: 30px 0 0 8px;
    font-size: 16px;
}

.info-text .price {
    display: block;
    padding-left: 8px;
    font-size: 23px;
    color: #F60
}

.info-text .price ins {
    font-size: 12px;
    text-decoration: none;
    color: #2E322F;
}

.time-bar {
    position: relative;
    float: right;
    width: 306px;
    height: 25px;
    margin-right: -1px;
    background-color: #FFBC46;
    line-height: 25PX;
    text-align: center;
    color: #FFF;
}

.time-bar p {
    /*font-size: 13px;*/
}

.lupm {
    background: url("../img/zhuanpan/lottery_sprite.png");
}

.lupm {
    position: absolute;
    display: block;
    width: 11px;
    height: 33px;
    top: -8px;
    right: -11px;
    background-position: 134px 34px;
}

.lucky-tit { /*上期活动大奖中奖名单公布*/
    float: right;
    width: 278px;
    height: 30px;
    margin-top: 16px;
    font-size: 14px;
    line-height: 20px;
    color: #FE4800;
    font-weight: 400;
    font-family: "Microsoft YaHei", Simsun, Mingliu, Arial, Helvetica;
}

.lucky-list {
    float: right;
    width: 230px;
    /*height: 37px;*/
    padding: 12px 16px;
    margin-right: 14px;
    border: 1px solid #C7C7C7;
}

.lucky-list li {
    display: inline-block;
    font-size: 5px;
    /*width: 211px;*/
    height: 18px;
    color: #9f9f9f;
}

.btns-line {
    float: right;
    width: 264px;
    margin-right: 14px;
}

.btns-line .record {
    float: left;
}

.btns-line a {
    width: 136px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    overflow: hidden;
    color: #56647F;
}

.btns-line a:hover {
    text-decoration: underline;
}

.address {
    float: right;
}

.freeget {
    background: url("../img/zhuanpan/lottery_sprite.png");
}

.freeget {
    background-position: -10px 109px;;
    display: block;
    width: 160px;
    height: 34px;
    line-height: 300px;
    margin: 0 auto;
}

.credits {
    position: relative;
    width: 720px;
    height: 256px;
    padding: 20px 0 20px 20px;
    overflow: hidden;
    /*background: palevioletred;*/
}

.creditsbg {
    background: url("../img/zhuanpan/index_t3.jpg") no-repeat;
}

.credits h2 {
    height: 21px;
    margin-bottom: 22px;
    color: #333;
    font: normal 16px "Microsoft YaHei", "微软雅黑", "黑体";
}

.credits .morelink {
    display: block;
    position: absolute;
    top: 25px;
    right: 24px;
    font-weight: 700;
    color: #333;
}

.credits .morelink:hover {
    text-decoration: underline;
}

.goodslist {
    width: 720px;
    height: 190px;
    overflow: hidden;
}

.goodslist li {
    float: left;
    width: 100px;
    margin-right: 20px;
    overflow: hidden;
}

.goodslist li .img-link {
    display: block;
    width: 98px;
    height: 98px;
    border: 1px solid #DBDBDB;
}

.goodsinfo {
    width: 100%;
    height: 56px;
}

.goodsinfo span {
    display: block;
    text-align: center;
    line-height: 22px;
    font-size: 13px;
}

.goodsinfo .name {
    padding-top: 6px;
    color: #333;

}

.goodsinfo .discount {
    color: #f60;
}

.btns-line {
    width: 272px;
    height: 30px;
    text-align: center;
}

.mod_btn_bd {
    position: relative;
    display: inline-block;
    background: url("../img/zhuanpan/btn.png") no-repeat;
    zoom: 1;
}

.mod_btn_bd {
    background-position: right -85px;
    padding-right: 7px;
    width: 68px;
    height: 27px;
    line-height: 27px;
    display: inline-block;
    right: -13px;
    top: 0;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    border: 1px solid #DBDBDB;
    border-radius: 10%;
}

.mod_btn_bd:hover {
    color: #f60;
}

.mod_btn {
    text-align: center;
    vertical-align: middle;
}

.gim-mil {
    width: 740px;
    height: 368px;
    margin-top: 25px;
}

.winning-user {
    width: 330px;
    height: 336px;
    margin-top: -25px;
    float: left;
    padding: 22px 18px 0;
    overflow: hidden;
    background: url("../img/zhuanpan/index_t4.jpg") no-repeat;
}

.winning-user-1 h4 {
    color: #5f5e5f;
}

.winning-user-2 h5 {
    color: #333333;
    margin-top: 22px;
}

.winning-user-2 .number {
    padding-left: 35px;
}

.winning-user-2 .time {
    padding-left: 35px;
}

.winning-user-3 {
    margin-top: 10px;
}

.winning-user-3 .name {
    font-size: 12px;
    color: #888888;
}

.winning-user-3 .number {
    padding-left: 35px;
    font-size: 12px;
    color: #888888;
}

.winning-user-3 .time {
    padding-left: 35px;
    font-size: 12px;
    color: #888888;
}

.prizes { /*奖品部分*/
    position: relative;
    width: 720px;
    min-height: 578px;
    padding: 25px 0 20px 20px;
    overflow: hidden;
    background: url("../img/zhuanpan/index_t4.jpg") no-repeat;
}

.prizes h2 {
    height: 21px;
    margin-bottom: 27px;
    color: #333;
    font: normal 16px "Microsoft YaHei", "微软雅黑", "黑体";
}

.prizes .goodslists { /*奖品部分 下面的奖品单*/
    width: 720px;
    overflow: hidden;
}

.prizes .goodslists li {
    float: left;
    width: 158px;
    height: 246px;
    margin: 0 22px 18px 0;
    overflow: hidden;
}

.prizes .goodslists .img-links { /*奖品部分 下面的奖品单的图片*/
    display: block;
    width: 156px;
    height: 156px;
    text-align: center;
    border: 1px solid #DBDBDB;
}

.prizes .goodslists .img-links:hover {
    border: 1px solid #f60;
}

.goodsinfos span { /*奖品部分 下面的奖品单的的文字说明*/
    display: block;
    text-align: center;
    line-height: 22px;
    font-size: 13px;
    color: #333333;
}

.goodsinfos .name { /*奖品部分 下面的奖品单的奖品名字*/
    padding-top: 6px;
}

.btns-liness { /*奖品部分 放置“查看详情”的外部div*/
    width: 160px;
    height: 30px;
    text-align: center;
}

.mods_btns_bds { /*奖品部分 放置“查看详情”的span标签*/
    position: relative;
    display: inline-block;
    background: url("../img/zhuanpan/btn.png") no-repeat;
    zoom: 1;
}

.mods_btns_bds {
    background-position: right -85px;
    padding-right: 4px;
    color: #46577e;
    width: 68px;
    height: 27px;
    line-height: 27px;
    display: inline-block;
    right: 0px;
    top: 0;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    border-radius: 10%;
}

.mods_btns_bds:hover {
    color: #f60;
}

.lottery-rules { /*抽奖规则介绍*/
    position: relative;
    width: 720px;
    height: 175px;
    padding: 24px 0 20px 20px;
    overflow: hidden;
}

.lottery-rulesbg {
    background: url("../img/zhuanpan/index_t3.jpg") no-repeat;
}

.lottery-rules h2 {
    height: 21px;
    margin-bottom: 20px;
    color: #333;
    font: normal 16px "Microsoft YaHei", "微软雅黑", "黑体";
}

.lottery-rule-list { /*抽奖规则介绍 ol的类名*/
    padding-left: 20px;
}

.lottery-rule-list li {
    list-style-type: decimal;
    line-height: 21px;
    font-size: 11px;
    color: #888888;
}

.webservice {
    width: 958px;
    height: 118px;
    background: url("../img/zhuanpan/bg_cblink.jpg") #e9e9e9 repeat-x;
    padding: 25px 20px 20px;
    margin: 10px auto;
}

.cb-alliance { /*底部服务左边的logo图片*/
    display: inline-block;
    margin-top: 20px;
    float: left;
}

.credit-service {
    float: left;
    width: 140px;
    padding-right: 20px;
    padding-left: 30px;
    border-right: 1px solid #d6d6d6;
}

.credit-service li {
    line-height: 25px;
}

.credit-service li a:hover {
    text-decoration: underline;
    color: #f60;
}

.credit-service-1 {
    border-left: 0;
}

.credit-service h3 {
    font-size: 16px;
    color: #979797;
    line-height: 18px;
    margin-bottom: 18px;
    font-family: "Microsoft YaHei", "微软雅黑", "黑体";
    font-weight: normal;
}

.earn-credit {
    float: left;
    width: 140px;
    padding-right: 20px;
    padding-left: 30px;
    border-right: 1px solid #d6d6d6;
}

.earn-credit li {
    line-height: 25px;
}

.earn-credit li a:hover {
    text-decoration: underline;
    color: #f60;
}

.earn-credit-1 {
    border-left: 0;
}

.earn-credit h3 {
    font-size: 16px;
    color: #979797;
    line-height: 18px;
    margin-bottom: 18px;
    font-family: "Microsoft YaHei", "微软雅黑", "黑体";
    font-weight: normal;
}

.use-credit {
    float: left;
    width: 140px;
    padding-right: 20px;
    padding-left: 30px;
    border-right: 1px solid #d6d6d6;
}

.use-credit li {
    line-height: 25px;
}

.use-credit li a:hover {
    text-decoration: underline;
    color: #f60;
}

.use-credit-1 {
    border-left: 0;
}

.use-credit h3 {
    font-size: 16px;
    color: #979797;
    line-height: 18px;
    margin-bottom: 18px;
    font-family: "Microsoft YaHei", "微软雅黑", "黑体";
    font-weight: normal;
}

.customer-service {
    float: left;
    width: 140px;
    padding-right: 20px;
    padding-left: 30px;
}

.customer-service li {
    line-height: 25px;
}

.customer-service li a:hover {
    text-decoration: underline;
    color: #f60;
}

.customer-service-1 {
    border-left: 0;
}

.customer-service h3 {
    font-size: 16px;
    color: #979797;
    line-height: 18px;
    margin-bottom: 18px;
    font-family: "Microsoft YaHei", "微软雅黑", "黑体";
    font-weight: normal;
}

.copyright {
    width: 980px;
    height: 100px;
    margin: 20px auto;
}

.copyright p {
    text-align: center;
    font-size: 13px;
    color: #595959;
    line-height: 28px;
}

.copyright a:hover {
    color: #f60;
    text-decoration: underline;
}

.micro-share {
    width: 360px;
    height: 355px;
    float: right;
    /*border: 1px solid #C7C7C7;*/
    margin-top: -13px;
    margin-left: 10px;
    background: url("../img/zhuanpan/index_t4.jpg") no-repeat;
}

.micro-share h2 {
    height: 21px;
    margin-top: 26px;
    margin-bottom: 20px;
    margin-left: 26px;
    color: #333;
    font: normal 16px "Microsoft YaHei", "微软雅黑", "黑体";
}

.btn-send {
    height: 27px;
    padding: 8px 4px;
}

.weibobtn {
    display: block;
    float: right;
    width: 67px;
    height: 27px;
    line-height: 27px;
    background: url("../img/zhuanpan/btn.png") no-repeat;
    background-position: -128px -1px;
    text-align: center;
    color: #46577E;
    margin-left: 10px;
    margin-right: 29px;
    border-radius: 10px;
}

.weibobtn:hover {
    color: #f46600
}

.weibo-ul {
    position: relative;
}

.weiboimg {
    display: block;
    width: 64px;
    height: 64px;
    border: 1px solid #DBDBDB;
    float: left;
}

.weibo-p {
    float: left;
    width: 234px;
    height: 105px;
}

.weibo-name {
    display: block;
    font-size: 13px;
    color: #333333;
    width: 225px;
    height: 21px;
}

.weibo-link {
    display: block;
    font-size: 13px;
    color: #9B9B9B;
    width: 225px;
    height: 63px;
    line-height: 20px;
}

.weibo-link a:hover {
    color: #f46600
}

.weibo-time {
    font-size: 13px;
    display: block;
    color: #9B9B9B;
    width: 225px;
    height: 21px;
}

.weibotxt {
    margin-left: 27px;
    border: 1px solid #DBDBDB;
}









