* {
    font-family: Arial;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background: url("../img/bg_index.jpg");
}

header {
    /*opacity: 1;*/
    position: fixed;
    top: 0;
    width: 100%;
    padding-left: 100px;
    background-color: black;
}

.head-mid {
    width: 1200px;
    margin: 0 auto;
}

h1 {
    font-size: 0;
    height: 90px;
    line-height: 90px;
}

h1 img {
    vertical-align: middle;
}

h1, header nav, .user-wrap {
    float: left;
}

nav ul {
    margin: 0;
}

header nav li {
    display: inline-block;
    list-style: none;
    height: 90px;
    line-height: 90px;
    margin: 0 10px;
    color: white;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;
}

header nav ul li a:hover {
    color: orange;
}

.user-wrap {
    height: 90px;
    line-height: 90px;
}

.user-wrap button {
    vertical-align: middle;
    height: 34px;
    width: 130px;
    font-size: 15px;
    border: 2px solid yellow;
    border-radius: 25px;
    cursor: pointer;
    color: black;
    font-weight: bold;
}

.user-wrap button:hover {
    background-color: yellow;
    color: black;
}

.focus {
    text-align: center;
}

.wrap-card {
    margin: 0 auto;
    width: 960px;
}

.wrap-card li {
    float: left;
    margin-right: 10px;
    height: 260px;
    width: 220px;
    overflow: hidden;
    position: relative;
}

.wrap-card ul li a {
    text-decoration: none;
}

.wrap-card ul li h2, h4 {
    color: #fff;
    text-align: center;
}

.wrap-card ul li img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.wrap-card ul li img:hover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.ui-footer ul {
    display: flex;
    width: 800px;
    margin: 0 auto;
}

.ui-footer ul li {
    flex: 1;
    list-style: none;
}

.ui-footer ul li a {
    position: absolute;
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    text-decoration: none;
    color: darkgray;
    background: url("../img/sprites_footer@2x.png") no-repeat;
    background-size: 200px 800px;
}

.ui-footer ul li:nth-child(1) a {
    background-position: 0px 0px;
}

.ui-footer ul li:nth-child(1) a:hover {
    background-position: -100px 0px;
}

.ui-footer ul li:nth-child(2) a {
    background-position: 0px -100px;
}

.ui-footer ul li:nth-child(2) a:hover {
    background-position: -100px -100px;
}

.ui-footer ul li:nth-child(3) a {
    background-position: 0px -200px;
}

.ui-footer ul li:nth-child(3) a:hover {
    background-position: -100px -200px;
}

.ui-footer ul li:nth-child(4) a {
    background-position: 0px -300px;
}

.ui-footer ul li:nth-child(4) a:hover {
    background-position: -100px -300px;
}

.ui-footer ul li:nth-child(5) a {
    background-position: 0px -400px;
}

.ui-footer ul li:nth-child(5) a:hover {
    background-position: -100px -400px;
}

.ui-footer ul li:nth-child(6) a {
    background-position: 0px -500px;
}

.ui-footer ul li:nth-child(6) a:hover {
    background-position: -100px -500px;
}

.ui-footer ul li:nth-child(7) a {
    background-position: 0px -600px;
}

.ui-footer ul li:nth-child(7) a:hover {
    background-position: -100px -600px;
}

.copt {
    margin-top: 150px;
    margin-left: 60px;
    text-align: center;
    font-size: 10px;
    color: lightgray;
}

.copt ul {
    list-style: none;
}

.sildfoot {
    /*position: fixed;*/
    bottom: 0;
    width: 100%;
    height: 75px;
    line-height: 75px;
    padding-left: 100px;
    background-color: black;
    margin-top: 20px;
    text-align: center;
}

.sildfoot ul li {
    float: left;
    list-style: none;
    color: white;
    font-size: 20px;
    text-align: center;
    margin-left: 50px;
}

.sildfoot ul li .qq {
    text-decoration: none;
    color: red;
    display: block;
}

.open {
    width: 252px;
    height: 75px;
    line-height: 75px;
    background-color: #edcf72;
    font-weight: bold;
    color:darkslateblue;
    display: inline-block;
    font-size: 25px;
    text-decoration: none;
}

.open:hover {
    background-color: orange;
    color: #8F94EF;
}

