* {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

.out {
    width: 730px;
    height: 454px;
    /*border: 1px solid red;*/
    margin: 50px auto;
    position: relative;
}

.out .img li {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

.out .num {
    position: absolute;
    left: 0;
    bottom: 20px;
    font-size: 0;
    text-align: center;
    width: 100%;
}

.out .num li {
    width: 20px;
    height: 20px;
    background: #666;
    color: #fff;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    display: inline-block;
    font-size: 16px;
    margin: 0 3px;
    cursor: pointer;

}

.out .btn {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    width: 30px;
    height: 60px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    line-height: 60px;
    font-size: 40px;
    display: none;
    cursor: pointer;
}

.out:hover .btn {
    display: block;
}

.out .left {
    left: 0;
}

.out .right {
    right: 0;
}

.out .num .active {
    background: red;
}